#titulo {
    text-align: center;
    font-style: normal;
    font-family: sans-serif, Arial, Helvetica;
}

#input-abstract {
    resize: none;
    margin-top: 10px;
    width: 350px;
    height: 200px;
}