.nav-links li{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

#nav{
    text-align: center;
}

#article h2, h3{
    text-align: center;
}

h1{
    text-align: center;
}







